<section>
  <div class="container mt-4">
    <div class="row">
    <form action="/admin/add-products" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          name="Name"
        />
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Category</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput2"
          name="Category"
        />
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput3" class="form-label">Price</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput3"
          name="Price"
        />
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput4" class="form-label">Description</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput4"
          name="Description"
        />
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput5" class="form-label">Image</label>
        <input
          type="file"
          class="form-control"
          id="formGroupExampleInput5"
          name="Image"
        />
      </div>

      <button type="submit" style="width: 90px; height:30px text-align:fit:fit-content" class="btn btn-success mt-4">Submit</button>
    </form>
    </div>
  </div>
</section>
