<section>
  <h2 style="margin-left: 20rem; margin-top:5rem;" >Login Form</h2>
  <form action="/login" method="POST" style="width: 40rem; margin:100px">
  <div class="row mb-3 ">
    <label for="inputEmail3"  class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" name="Email" class="form-control" placeholder="Email adress" id="inputEmail3">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" name="Password" placeholder="Password" class="form-control" id="inputPassword3">
    </div>
  </div>
    <a style="text-decoration: none; margin-right:25rem;" href="/signup">Create new account?</a>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</section>