<section>
  <h2 style="margin-left: 20rem; margin-top:5rem;" >Create a new account</h2>
  <form action="/signup" method="POST" style="width: 40rem; margin:100px">
  <div class="row mb-3 ">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" name="Email" placeholder="Email adress" id="inputEmail3">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" placeholder="Password" name="Password" class="form-control" id="inputPassword3">
    </div>
  </div>
    <a style="text-decoration: none; margin-right:24rem;" href="/login">Already have account?</a>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
</section>